* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background: linear-gradient(to bottom right, #cce5ff, #e6f7ff);
    color: #333;
    display: flex;
    text-align: center;
    flex-direction: column;
    min-height: 100vh;
}

.title {
    text-align: center;
    padding: 40px 20px;
}

.title h1 {
    font-size: 2.5rem;
    color: #3a7ca5;
}

.title p {
    margin-top: 10px;
    color: #555;
}

.section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    width: 80%;
    max-width: 1000px;
    margin: 40px auto;
}

.card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3 ease;
    text-decoration: none;
}

.card:hover {
    transform: translateY(-5px);
    background: #f0faff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card h2 {
    margin-bottom: 10px;
    color: #3a7ca5;
}

.card p {
    color: #555;
}

footer {
    margin-top: auto;
    padding: 70px;
    text-align: center;
    color: #777;
}